* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px black solid;
}

body {
    display: grid;
    grid-template-rows: 10rem 1fr 5rem;
    width: max(20rem, 100%);
    min-height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: minmax(20rem, 1fr);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-dialog {
    width: 10rem;
    height: 10rem;
    font-size: 8rem;
    border-radius: 50%;

}

.cards {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
    padding: 20px 30px;
    width: max(20rem, 100%);
    height: max(20rem, 100%);
    font-size: max(1.5rem, 3vh);
}

.cards > div:nth-child(1)::before {
    content: "Title: ";
    word-break: keep-all;
}

.cards > div:nth-child(2)::before {
    content: "Author: ";
    word-break: keep-all;
}

.cards > div:nth-child(3)::before {
    content: "Pages: ";
    word-break: keep-all;
}

.cards > div:nth-child(5):not(div:empty)::before {
    content: "Description: ";
    word-break: keep-all;
}

.cards > div:nth-child(5):not(div:empty) {
    height: 10rem;
    overflow-y: scroll;
}

.cards > div:empty {
    display: none;
}

.cards div {
    word-break: break-all;
}

dialog {
    inset: 0;
    margin: auto;
    padding: 2rem;
    /* display: flex; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form div {
    display: flex;
    font-size: clamp(1.5rem, 2vw, 5vw);
    position: relative;
}

.book-title, .book-author, .book-pages,
.book-description {
    flex-direction: column;
}

.book-status {
    gap: 2rem;
}

input[type="checkbox"] {
    padding: 10rem;
    width: 2rem;
    height: auto;
}

input:not(input[type="checkbox"]) {
    height: clamp(3rem, 3vw, 10vw);
    width: clamp(20rem, 35vw, 45vw);
    padding: 1.5rem 1.5rem 0.5rem;
    font-size: clamp(1.5rem, 2vw, 5vw);

}

.book-title:has(input:focus) label,
.book-author:has(input:focus) label, 
.book-pages:has(input:focus) label,
.book-description:has(textarea:focus) label {
    top: -1rem;
}

.book-title label, .book-author label, 
.book-pages label, .book-description label {
    position: absolute;
    margin-left: 1rem;
    top: 0.5rem;
}

textarea {
    resize: none;
    overflow-y: scroll;
    height: clamp(10rem, 3vw, 10vw);
    width: clamp(20rem, 35vw, 45vw);
    font-size: clamp(1.2rem, 2vw, 5vw);
    padding: 1.5rem 1rem;
}

.book-title:has(input:not(:placeholder-shown)) label,
.book-author:has(input:not(:placeholder-shown)) label,
.book-pages:has(input:not(:placeholder-shown)) label,
.book-description:has(textarea:not(:placeholder-shown)) label {
    top: -1rem;
}

.book-status label{
    margin-left: 1rem;
}

form button {
    width: 60%;
    align-self: center;
    font-size: clamp(1.1rem, 2vw, 5vw);
    padding: 0.5rem 2rem;
}